<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info Erick</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        .panel.with-nav-tabs .panel-heading{
            padding:5px 5px 0 5px;
        }
        .panel.with-nav-tabs .nav-tabs{
            border-bottom:none;
        }
        .container{
            margin-top:50px;
        }
    </style>
</head>

<body>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

        <h1>Info Erick</h1>

        <div class="panel with-nav-tabs panel-primary">

            <div class="panel-heading">
                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#tab1" data-toggle="tab">Nombre</a>
                    </li>

                    <li>
                        <a href="#tab2" data-toggle="tab">Correo</a>
                    </li>

                    <li>
                        <a href="#tab3" data-toggle="tab">GitHub</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            Cosas sobre mí <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:each="cosa,iter : ${user.listaCosas}">
                                <a th:href="'#tabCosa' + ${iter.index}"
                                   data-toggle="tab"
                                   th:text="${cosa}">
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="panel-body">
                <div class="tab-content">

                    <div class="tab-pane fade in active"
                         id="tab1"
                         th:text="${user.nombre}">
                    </div>

                    <div class="tab-pane fade"
                         id="tab2"
                         th:text="${user.correo}">
                    </div>

                    <div class="tab-pane fade"
                         id="tab3"
                         th:text="${user.github}">
                    </div>

                    <div th:each="cosa,iter : ${user.listaCosas}"
                         class="tab-pane fade"
                         th:id="'tabCosa' + ${iter.index}"
                         th:text="${cosa}">
                    </div>

                </div>
            </div>

        </div>
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>